<!-- Banner -->
<section class="about-us" id="banner">
    <div class="inner">
        <header>
            <h2>Who we are</h2>
        </header>
    </div>
</section>
<!-- Main -->
<article id="main">
    <!-- One -->
    <section class="wrapper style4 container">
        <div class="row">
            <div class="8u 12u(narrower) important(narrower)">
                <!-- Content -->
                <div class="content">
                    <section>
                        <header>
                            <h3>How we work</h3>
                        </header>
                        <ul class="tick">
                            <li>
                                We are a small, but take pride in how we teach.
                            </li>
                            <li>
                                We enjoy teaching languages and love to see how our students learn and progress.
                            </li>
                            <li>
                                We tailor our lessons for every single student or group to suit their needs, adapting throughout the course whenever is needed - that is the key to our success.
                            </li>
                            <li>
                                We understand that learning a language is not easy and takes practice. We provide our students with the tools to carry on practicing the different skills (oral, listening, grammar, reading) outside the classroom with podcasts, apps, books and plenty of other materials.
                            </li>
                            <li>
                                We continually provide feedback to students so they know their level and how they are progressing.
                            </li>
                            <li>
                                We follow the European Framework of languages and we can help in the preparation of official DELE exams
                            </li>
                        </ul>
                    </section>
                </div>
            </div>
            <div class="4u 12u(narrower)">
                <!-- Sidebar -->
                <div class="sidebar">
                    <section>
                        <blockquote>"Thanks to David, I jumped from zero to B2 intermediate in less than 2 years!"<br /><i>Dmitry, SIL Student 2 years</i></blockquote>
                    </section>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="8u 12u(narrower) important(narrower)">
                <section>
                    <header>
                        <h3>Our Teachers</h3>
                    </header>
                    <p>
                        All our teachers are qualified and experienced Spanish or Latin American natives who have an excellent understanding of the Spanish and English languages.
                        We are approachable, we offer relaxed but professional lessons and believe they need to be enjoyable and fun in order to succeed. We understand the importance of cultural references to fully understand a new language and take it into account during the lessons.
                        We use our own materials and the best resources compiled throughout the years with many interactive and self-testing computer based resources and apps you can use when commuting.
                    </p>
                    <footer>
                        <ul class="buttons">
                            <li><a href="#" class="button small">Want to work for us</a></li>
                        </ul>
                    </footer>
                </section>
            </div>
            <div class="4u 12u(narrower)">
                <div class="sidebar">
                    <section>
                        <section>
                            <blockquote>"I have had a few Spanish tutors over the last few years and have to say Spanish In London are the best so far, lessons are fun, engaging and I've made improvements I never thought I would"<br /><i>Niall, SIL Student 4 years</i></blockquote>
                        </section>
                    </section>
                </div>
            </div>
        </div>
    </section>
    <!-- CTA -->
    <section id="cta">
        <header>
            <h2>What level am I?</h2>
            <p>Take a free online test to find out your level!</p>
        </header>
        <footer>
            <ul class="buttons">
                <li><a href="http://www.cervantes.to/test_inicial.html" target="_blank" class="button special">Take the test</a></li>
            </ul>
        </footer>
    </section><!-- Three -->
    <section class="wrapper style3 container special worked-with-container">
        <header class="major">
            <h2>Who we have worked with</h2>
            <p>For more than 10 years Spanish in London has been offering their language services to a wide range of companies in London including media, betting, insurance, accounting and consulting industries. We also have private clients who just want to learn a new language for personal reasons and want to do it before, during or after work.</p>
        </header>
        <div class="row worked-with">
            <div class="logo-table">
                <ul class="logos">
                    <li><img src="/dist/assets/images/BBC-logo.png" /></li>
                    <li><img src="/dist/assets/images/sabadell_logo.png" /></li>
                    <li><img src="/dist/assets/images/Betfair_logo.png" /></li>
                </ul>
            </div>
        </div>
        <div class="row worked-with">
            <div class="logo-table">
                <ul class="logos">
                    <li><img src="/dist/assets/images/reuter-logo.png" /></li>
                    <li><img src="/dist/assets/images/Google_logo.png" /></li>
                    <li><img src="/dist/assets/images/starlizard-logo.png" /></li>
                </ul>
            </div>
        </div>
        <div class="row worked-with">
            <div class="logo-table">
                <ul class="logos">
                    <li><img src="/dist/assets/images/EY-logo-horizontal.png" /></li>
                    <li><img src="/dist/assets/images/vodafone-logo.png" /></li>
                    <li><img src="/dist/assets/images/orange-logo.png" /></li>
                </ul>
            </div>
        </div>
    </section>
</article>
