<!-- Banner -->
<section class="services" id="banner">
    <div class="inner">
        <header>
            <h2>What we offer</h2>
        </header>
    </div>
</section>
<!-- Main -->
<article id="main">
    <section class="wrapper container services-wrapper">
        <tabset>
            <tab [active]="isCorporateActive" title="Coroprate">
                <!--<div class="row">
                    <div class="12u 12u(narrower) important(narrower)">
                        <div class="content">
                            <section>
                                <p>
                                    Spanish in London specialises in providing tailored in-house language training in Spanish and Catalan. 
                                </p>
                            </section>
                        </div>

                    </div>
                </div>-->
                <!-- Two -->
                <section class="wrapper style1 special">
                    <div class="row">
                        <div class="4u 12u(narrower)">
                            <section>
                                <header>
                                    <h3>Group Lessons</h3>
                                </header>
                                <p>Group lessons are the perfect way to start learning, allowing you to begin interacting with people in your new language. We keep our groups small to give each person the time to practice their Spanish.</p>
                            </section>
                        </div>
                        <div class="4u 12u(narrower)">
                            <section>
                                <header>
                                    <h3>1 to 1</h3>
                                </header>
                                <p>If you are looking for something more personal, then our 1 to 1 classes can be tailor made for your individual needs.</p>
                            </section>
                        </div>
                        <div class="4u 12u(narrower)">
                            <section>
                                <header>
                                    <h3>Felixibale Packages</h3>
                                </header>
                                <p>Keeping it flexible, we can create the perfect package of lessons. Packages start from 10 hrs of lessons up to whatever you need, including instensive courses. 
                                </p>
                            </section>
                        </div>
                    </div>
                    <div class="row">
                        <div class="4u 12u(narrower)">
                            <section>
                                <header>
                                    <h3>Skype</h3>
                                </header>
                                <p>Prefer lessons online? We can have the lessons via Skype or Facetime, your choice.</p>
                            </section>
                        </div>
                        <div class="4u 12u(narrower)">
                            <section>
                                <header>
                                    <h3>Exam Prep</h3>
                                </header>
                                <p>Need to have a qualification? We’ll prepare you for the official DELE exams or any other qualification you need.</p>
                            </section>
                        </div>
                        <div class="4u 12u(narrower)">
                            <section>
                                <header>
                                    <h3>Catalan</h3>
                                </header>
                                <p>Want to learn Catalan? We can also provide that. David is our native Catalan expert and happy to teach you this unique language</p>
                            </section>
                        </div>
                        <div class="4u 12u(narrower)">
                            <section>
                                <header>
                                    <h3>Conversation groups</h3>
                                </header>
                                <p>We put together conversation groups with students from similar levels so they can practice their speaking skills. All groups are overseen by a tutor and grammar and vocabulary topics are also discussed and corrected when necessary.</p>
                            </section>
                        </div>
                        <div class="4u 12u(narrower)">
                            <section>
                                <header>
                                    <h3>1 to 1 <br/>Conversation</h3>
                                </header>
                                <p>One to one conversation lessons with a tutor can really take your language to the next leve. Different topics every lesson to practice and learn as much vocabulary and grammar as possible and get confident in your speaking skills.</p>
                            </section>
                        </div>
                    </div>
                </section>
            </tab>
            <tab [active]="isPersonalActive" title="Personal">
                <!--<div class="row">
                    <div class="12u 12u(narrower) important(narrower)">
                        <div class="content">
                            <section>
                                <p>
                                    We come to your place or a convenient cafe if that is not an option. We tailor the lessons to your needs, starting from 10 lesson packages.
                                </p>
                            </section>
                        </div>

                    </div>
                </div>-->
                <!-- Two -->
                <section class="wrapper style1 special">
                    <div class="row">
                        <div class="4u 12u(narrower)">
                            <section>
                                <header>
                                    <h3>Group Lessons</h3>
                                </header>
                                <p>Group lessons are the perfect way to start learning, allowing you to start interacting with people in your new language. We keep our groups small to give each person the ability to practice their Spanish.</p>
                            </section>
                        </div>
                        <div class="4u 12u(narrower)">
                            <section>
                                <header>
                                    <h3>1 to 1</h3>
                                </header>
                                <p>If you are looking for something more personal, then our 1 to 1 classes can be tailor made for you individual needs. etc...</p>
                            </section>
                        </div>
                        <div class="4u 12u(narrower)">
                            <section>
                                <header>
                                    <h3>Felixibale Packages</h3>
                                </header>
                                <p>Keeping it flexible, we can create the perfect package of lessons. Packages start from 10hrs of lessons up to whatever you need including instensive courses</p>
                            </section>
                        </div>
                    </div>
                    <div class="row">
                        <div class="4u 12u(narrower)">
                            <section>
                                <header>
                                    <h3>Skype</h3>
                                </header>
                                <p>Prefer lessons online? We can have the lessons via Skype or Facetime, your choice.</p>
                            </section>
                        </div>
                        <div class="4u 12u(narrower)">
                            <section>
                                <header>
                                    <h3>Exam Prep</h3>
                                </header>
                                <p>Need to have a qualification? We’ll prepare you for the official DELE exams or any other qualification you need.</p>
                            </section>
                        </div>
                        <div class="4u 12u(narrower)">
                            <section>
                                <header>
                                    <h3>Catalan</h3>
                                </header>
                                <p>Want to learn Catalan? We can also provide that. David is our native Catalan expert and happy to teach you this unique language</p>
                            </section>
                        </div>
                        <div class="4u 12u(narrower)">
                            <section>
                                <header>
                                    <h3>Conversation groups</h3>
                                </header>
                                <p>We put together conversation groups with students from similar levels so they can practice their speaking skills. All groups are overseen by a tutor and grammar and vocabulary topics are also discussed and corrected when necessary.</p>
                            </section>
                        </div>
                        <div class="4u 12u(narrower)">
                            <section>
                                <header>
                                    <h3>1 to 1 <br />Conversation</h3>
                                </header>
                                <p>One to one conversation lessons with a tutor can really take your language to the next leve. Different topics every lesson to practice and learn as much vocabulary and grammar as possible and get confident in your speaking skills.</p>
                            </section>
                        </div>
                    </div>
                </section>
            </tab>
        </tabset>
    </section>
    <!-- CTA -->
    <section  class="get-in-touch">
        <header>
            <h2>Want more info?</h2>
        </header>
            <p>Drop us a line for a quote, more info or an informal chat.</p> 
            <p><span class="icon fa-envelope"></span>  <a href="mailto:hola@spanish-in-london.co.uk">hola@spanish-in-london.co.uk</a> </p>
            <p><span class="icon fa-mobile"></span>  +44 7758 288843</p>
        <footer>
            <ul class="buttons">
                <li><a [routerLink]="['/contact']" class="button special">Send us a message</a></li>
            </ul>
        </footer>
    </section>
</article>
