<!-- Three -->
<section class="wrapper style3 container special worked">
    <header class="major">
        <h2>Who we have worked with</h2>
        <p>For more than 10 years Spanish in London has been offering their language services to a wide range of companies in London including media, betting, insurance, accounting and consulting industries. We also have private clients who just want to learn a new language for personal reasons and want to do it before, during or after work.</p>
    </header>
    <ngx-carousel [inputs]="carouselTile">
        
        <ngx-tile NgxCarouselItem *ngFor="let tile of carouselTileItems">
            <img #someElement  [src]="tile.url">
            <img *ngIf="false" [src]="tile.urlAlt">
        </ngx-tile>
        <button NgxCarouselPrev class='leftRs'>&lt;</button>
        <button NgxCarouselNext class='rightRs'>&gt;</button>
    </ngx-carousel>

</section>
