<!-- Banner -->
<section id="banner">
    <div class="inner">
        <header>
            <img src="/dist/assets/images/logo-long.svg" />
            <h2 class="home-title">Learn the language, love the culture!</h2>
        </header>
    </div>
</section>
<article id="main">
    <header class="special container home">
        <h2 class="home-header">
            We are a team of <strong>native, qualified</strong> and <strong>experienced</strong> <br />Spanish and Catalan tutors <br />passionate
            about teaching our language!
        </h2>
    </header>
    <!-- Two -->
    <!-- One -->
    <section class="wrapper style2 container special">
        <div class="row 50%">
            <div class="12u 12u(narrower)">

                <header>
                    <h2><strong>tailor-made</strong> services to help you achieve your learning goals!</h2>
                </header>
                <p>
                    With over 12 years of experience, <strong>Spanish in London</strong> has been working with both corporate
                    and private clients poviding customized one-to-one and small group language
                    courses so you, or your employees, can use Spanish effectively in any business or
                    private situation. Our tutors teach in a range of different industries each with varying
                    business needs, including <strong>media, technology, finance, tourism and leisure.</strong>
                </p>
                <footer>
                    <ul class="buttons">
                        <li><a [routerLink]="['/services']" class="button">See Our services</a></li>
                    </ul>
                </footer>

            </div>
        </div>
    </section>
    <section class="wrapper style3 container special">
        <!--<h2>
            Why choose us?
        </h2>-->
        <div class="row">
            <div class="4u 12u(narrower)">
                <section>
                    <span class="icon featured fa-map-o"></span>
                    <header>
                        <h3>WE COME TO YOU</h3>
                    </header>
                    <p>We understand that you are busy so we come to your office, or any location within zones 1 and 2, making it easier to balance your studies and your work life.</p>
                </section>

            </div>
            <div class="4u 12u(narrower)">
                <section>
                    <span class="icon featured fa-comments"></span>
                    <header>
                        <h3>Experienced native tutors</h3>
                    </header>
                    <p>
                        All our tutors are native speakers and fully qualified to teach with years of experience. We also cover and adjust our Spanish to the dialect you need.
                    </p>
                </section>
            </div>
            <div class="4u 12u(narrower)">

                <section>
                    <span class="icon featured fa-line-chart"></span>
                    <header>
                        <h3>BUSINESS OR PERSONAL</h3>
                    </header>
                    <p>
                        We tailor the syllabus to you, focusing the learning process for your business and day to day needs.
                    </p>
                </section>

            </div>
        </div>
        <div class="row">
            <div class="4u 12u(narrower)">
                <section>
                    <span class="icon featured fa-diamond"></span>
                    <header>
                        <h3>BESPOKE</h3>
                    </header>
                    <p>One to one lessons or small groups; once, twice, three times a week; one, two, three hour lessons; you choose what is best for you.</p>
                </section>

            </div>
            <div class="4u 12u(narrower)">

                <section>
                    <span class="icon featured fa-cogs"></span>
                    <header>
                        <h3>WE ARE NOT SCARED OF TECHNOLOGY</h3>
                    </header>
                    <p>
                        We take advantage of the latest technologies to help you learn with provide materials online as well as interactive activities you can access from your computer or phone.
                    </p>
                </section>

            </div>
            <div class="4u 12u(narrower)">

                <section>
                    <span class="icon featured fa-skype"></span>
                    <header>
                        <h3>IN PERSON OR ONLINE</h3>
                    </header>
                    <p>
                        We offer Skype or Facetime lessons as well as classes in person, this way you do not have
                        to miss anything, even if you are not in London.
                    </p>
                </section>

            </div>
        </div>
        <div class="row">
            <div class="12u 12u(narrower)">
                <footer>
                    <ul class="buttons">
                        <li><a [routerLink]="['/about']" class="button">Read more about us</a></li>
                    </ul>
                </footer>
            </div>
        </div>
    </section>
   
    <!-- Three -->
    <section class="wrapper style3 container special worked">
        <header class="major">
            <h2>Who we have worked with</h2>
            <p>For more than 10 years Spanish in London has been offering their language services to a wide range of companies in London including media, betting, insurance, accounting and consulting industries. We also have private clients who just want to learn a new language for personal reasons and want to do it before, during or after work.</p>
        </header>
        <div class="row worked-with">
            <div class="logo-table">
                <ul class="logos">
                    <li><img src="/dist/assets/images/BBC-logo.png" /></li>
                    <li><img src="/dist/assets/images/sabadell_logo.png" /></li>
                    <li><img src="/dist/assets/images/Betfair_logo.png" /></li>
                </ul>
            </div>
        </div>
        <div class="row worked-with">
            <div class="logo-table">
                <ul class="logos">
                    <li><img src="/dist/assets/images/reuter-logo.png" /></li>
                    <li><img src="/dist/assets/images/Google_logo.png" /></li>
                    <li><img src="/dist/assets/images/starlizard-logo.png" /></li>
                </ul>
            </div>
        </div>
        <div class="row worked-with">
            <div class="logo-table">
                <ul class="logos">
                    <li><img src="/dist/assets/images/EY-logo-horizontal.png" /></li>
                    <li><img src="/dist/assets/images/vodafone-logo.png" /></li>
                    <li><img src="/dist/assets/images/orange-logo.png" /></li>
                </ul>
            </div>
        </div>
    </section>
</article>
<!-- CTA -->
<section id="cta" class="level-test">
    <header>
        <h2>What level am I?</h2>
        <p>Take a free online test to find out your level!</p>
    </header>
    <footer>
        <ul class="buttons">
            <li><a href="http://www.cervantes.to/test_inicial.html" target="_blank" class="button special">Take the test</a></li>
        </ul>
    </footer>
</section>